body{
   background-color: silver;

}
.title{
   background-color: green;
   width: auto;
   height: 100px;
   padding-top: 50px;
   padding-right: 50px;
   padding-bottom: 50px;
   padding-left: 200px;
   font-size: 100px;
}
.grid-container {
  display: grid;
  grid-template-columns: auto auto ;
  grid-gap: 100px;
  background-color: #2196F3;
  padding: 10px;
}
.grid-container > div {
  background-color: rgba(255, 255, 255, 0.8);
  text-align: center;
  padding: 20px 0;
  font-size: 30px;
}

